[Unit]
Description=Dyode-Sender service
ConditionPathExists=/home/highside/dyode-fiber/dyode-sender/dyode-sender.py
After=syslog.target network.target
Wants=network.service

[Service]
WorkingDirectory=/home/highside/dyode-fiber/dyode-sender/
ExecStart=/usr/bin/python3 dyode-sender.py
Restart=on-failure

[Install]
Alias=dyode-in
WantedBy=multi-user.target