[Unit]
Description=Dyode-Receiver service
ConditionPathExists=/home/lowside/dyode-fiber/dyode-receiver/dyode-receiver.py
After=syslog.target network.target
Wants=network.service

[Service]
WorkingDirectory=/home/lowside/dyode-fiber/dyode-receiver
ExecStart=/usr/bin/python3 dyode-receiver.py
Restart=on-failure

[Install]
Alias=dyode-out
WantedBy=multi-user.target